.three .container .recomend {
  /* display: flex;
  justify-content: space-between; */
}
.sarlavha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.sarlavha span {
  cursor: pointer;
}
.four .card {
  box-shadow: 5px 5px 20px 10px #0000001a;
  /* width: 20%; */
  padding: 20px;
}
.four {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
