.navbar {
  width: 100%;
}

.head {
  background: #ed3729;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 100px;
  color: white;
  font-family: sans-serif;
}
.head .head-location img {
  width: 78px;
}
.head .head-lorem {
  display: flex;
  align-items: center;
  font-size: 8px;
  gap: 20px;
}
.head .head-Number {
  font-size: 10px;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 12px;
}
.nav .container form .form-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav .container .logo {
  margin-top: 13px;
}
.nav .container .logo img {
  width: 270px;
}

.nav .container form .form-category select {
  border: none;
  color: #202020;
  outline: none;
  padding: 4px 10px;
}

.nav .container form {
  width: 42%;
  height: 44px;
  border: 2px solid red;
  border-radius: 4px;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav .container form input {
  width: 56%;
  border: none;
  outline: none;
  padding: 4px 5px;
  margin-right: 10px;
  font-size: 15px;
  margin-top: 2px;
  color: darkblue;
}

.voise {
  position: absolute;
  right: 100px;
  color: #202020b0;
  bottom: 10px;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2px;
  margin-left: 70px;
  cursor: pointer;
}
.nav-icons .nav-icon {
  flex-wrap: wrap;
  margin-right: 20px;
  text-transform: capitalize;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav-icons .nav-icon h4 {
  font-size: 18px;
  color: #202020b4;
}

.nav-user {
  margin-left: 10px;
  font-size: 23px;
}
.FaBalanceScale {
  font-size: 23px;
  margin-left: 28px;
}
.nav-heart {
  font-size: 21px;
  margin-left: 5px;
}

.nav-cart {
  font-size: 24px;
  margin-left: 16px;
}
.nav-search {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  padding: 4px 6px;
  gap: 5px;
  font-size: 15px;
  border: 5px solid red;
}

.nav-search .outlineIcon {
  margin-top: 4px;
}
.nav-category-btn button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 9px 50px;
  color: white;
  background-color: #ed3729;
  border: 2px solid #ed3729;
  border-radius: 4px;
  margin-bottom: 13px;
  transition: 2s ease-in-out;
  cursor: pointer;
}
.nav-category-btn-menu {
  margin-top: 1px;
  margin-right: 6px;
  font-size: 16px;
}

.nav-category {
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.123);
}
.nav-category .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.nav-category .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  font-weight: 700;
  list-style: none;
  font-family: sans-serif;
  font-size: 15px;
}
.nav-category .container ul a {
  text-decoration: none;
  color: #000000;
}

.category-modal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  position: sticky;
}

.category-modal .container .categrorys {
  width: 30%;
}
.category-modal .container .categrorys .categoryAll {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 8px;
  font-family: sans-serif;
  color: gray;
  border-bottom: 2px solid rgba(128, 128, 128, 0.068);
  transition: 0.2s ease-in-out;
}

.category-modal .container .categrorys .categoryAll:hover {
  background-color: rgba(128, 128, 128, 0.068);
  cursor: pointer;
}

.category-modal .container .categoryAll h4 {
  font-size: 14px;
}
.categoryModal-Two {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
}
.categoryModal-Two h1 {
  width: 60%;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.637);
}
.categoryModal-Two h5 {
  font-size: 15px;
  color: gray;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
  padding: 6px;
}
.categoryModal-Two h5:hover {
  background-color: rgba(128, 128, 128, 0.068);
  cursor: pointer;
  padding: 6px 0px;
}
.category-info-One {
  height: 52vh;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
}

.categoryModal-Two .category-img {
  width: 60%;
  height: 400px;
}
.categoryModal-Two .category-img img {
  width: 90%;
  margin-top: 50px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transform: perspective(500px) rotateY(-35deg);
}

.categoryModal-Two .category-img img:hover {
  transform: perspective(600px) rotateY(-0deg);
}

.category-info-down {
  width: 5%;
  position: absolute;
  right: 20px;
  bottom: 50px;
}
.category-info-down button {
  position: fixed;
  border-radius: 50%;
  padding: 16px 18px;
  background-color: red;
  color: white;
  border: 1px solid red;
}

.category-info-down button .FaChevronDown {
  position: absolute;
  bottom: 3px;
  left: 7px;
  font-size: 23px;
  margin-bottom: 1px;
}

.category-info-down button:hover {
  background: transparent;
  border: none;
  cursor: no-drop;
}
