.footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: -230px;

}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding: 10px;
}

.footer-lorem p {
    width: 60%;
    padding: 10px;
}

.footer-icons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.footer h2 {
    margin-bottom: 20px;
}

.footer h4 {
    margin-bottom: 10px;
}